.comment-username {
    font-weight: bold;
}

.comment-date {
    text-align: right;
    font-size: 14px;
}

label.error {
    color: #b60000;
}

#message {
    resize: none;
}

.title-block {
    max-width: 500px;
    margin-bottom: 20px;
}

#article-description {
    margin-bottom: 20px;
}

#editor {
    min-height: 100px;
    margin-bottom: 10px;
}

/*#article-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}*/

#article-image + label {
    padding: 17px 17px 12px;
    background: transparent;
    color: #3c3b3b;
    box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
    font-size: 0.7em;
    font-weight: 800;
    display: inline-block;
    font-family: "Raleway", Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-right: 10px;
}

#article-image:focus + label,
#article-image + label:hover {
    box-shadow: inset 0 0 0 1px #2ebaae;
    color: #2ebaae !important;
}

#article-image + label {
    cursor: pointer; /* "hand" cursor */
}

#category{
    max-width: 225px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
    font-family: "Raleway", Helvetica, sans-serif;
}
label[for='category']{
    margin-bottom: 0;
}
#url{
    max-width: 225px;
    display: inline-block;
}

.like.disabled{
    pointer-events: none;
}



.like.active:before{
    color: hsl(0, 60%, 45%) !important;
}

.like.active:hover, .like.active:hover:before{
    color: hsla(0, 60%, 45%, 0.29) !important;
}